/* ------common instruction -------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Gentium Book Plus', serif;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto Serif', serif; */
    font-weight: 400;
    }

        /* ------ Header Section ------- */

    .menue{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 87px;
        padding-bottom: 20px;
    }
    .menue-list{
        display: flex;
    }
    .menue-list li{
        list-style: none;
        margin: 0 15px;
    }
    .menue-list li a{
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #3A3A3A;
    }
    .menue-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #3A3A3A;
    }
 /* ------ Body Section ------- */
 /* ------ Top Section ------- */
 .top-section{
    display: flex;
    align-items: center;
 }
 .top{
    width: 50%;
    padding-left: 120px;
 }
 .top h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: #3a3a3a;
 }
 .top p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3a3a3a;
 }
 .button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
 }
 .button-text{
    background: #E02C6D;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
 }
 .camera-image{
    position: relative;
    display: flex;
    justify-content: right;
    width: 50%;
    padding-right: 100px;
    
 }
 .image-top{
     position: absolute;
 }
 
/* ------ Middle Section (Logo-section)------- */

.logo{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 100px;
    border-top: 0.5px solid rgb(238, 238, 238);
    border-bottom: 0.5px solid rgb(238, 238, 238);
}
.logo img{
    margin: 20px;
}

/* ------ Product(Product-section)------- */

.products{
  
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    margin: 150px
    border-radius: 12px;
}
.Product-Title h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.product-description{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 5px 6px rgb(247, 227, 227);
    
}
.product-description img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product-description h2{
   font-size: 28px;
   font-weight: 500;
   margin-bottom: 10px;
}
.product-description h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.fa-star, .fa-star-half-stroke{
    font-size: 15px;
    color: rgba(223, 190, 4, 0.904);
    margin-bottom: 10px;
}
.product-description span{
   color: black;
   padding-left: 10px;
   margin-bottom: 10px;
}
.product-description h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
}
.button2{
    
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: 26px;
    padding-right: 160px;
 }
 .button-text2{
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
   
}
/* ------ Feature-Product(Lower-section)------- */

.featured-products{
    display: flex;
    align-items: center;
    padding: 100px 150px;

}
.product-desc{
    margin-left: 80px;
}
.product-desc h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.product-desc p{
    font-size: 16px;
    font-weight: 700;
}
.button3{
    width: 160px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
 }
 .button-text3{
    background: #E02C6D;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;